<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BCWallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BCWalletModel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22DD007324C5F29300C9911A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DD008924C5F29500C9911A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DD009D24C5F48B00C9911A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DD00A524C5F48B00C9911A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
